.menu-container {
    padding: 30px;

}

.menu-section {
    marign-bottom: 50px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.menu-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
    transition: transform 0.2s ease;

}

.menu-card:hover {
    transform: scale(1.03);

}

.menu-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.menu-card-body {
    padding: 15px;
    text-align: center
}

.price {
    font-weight: bold; 
    color: green;
    font-size: 18px;
}